.w-75{
  width: 96%!important;
}

.mytext{
  font-size: 12px;
  font-weight:800;
  margin-bottom: 2px;
}
.mytextcolor{
  color:gold;
}
.mystyle{
  font-family: serif;
}
.mytext2{
  font-size: 8px;
  font-weight:800;
}
.mytext3{
  font-size: 10px;
  align-items: center;
}



@media only screen and (min-width: 768px) {
  .img-fluid {
    max-width: 172%;
    height: 160px;
  }
}


/* @media screen and (min-width: 480px) {
 .formclass{ 
  display: none;


 }

 .homeclass{
  width: 100%;
  height: 100%;
 }
} */

@media print {
  /* Print-specific styles go here */

  body {
    font-size: 6px; /* Font size for print */

    margin: 0; /* Remove default margin */
    padding: 0;
  }

  .formclass {
    display: none; /* Hide elements with class "no-print" when printing */
  }

  .homeclass{
    width: 100%;
    height: 100%;
   }
   .h6{
    font-size: 10px;
   }
   .h5{
    font-size: 10px;
   }
   .fullview {
    width: 100vw; /* Set width to full viewport width */
    height: 100vh; /* Set height to full viewport height */
    page-break-before: always; /* Start a new page before this container */
  }




}