.w-75{
  width: 96%!important;
}

.mytext{
  font-size: 12px;
  font-weight:800;
  margin-bottom: 2px;
}
.mytextcolor{
  color:gold;
}
.mystyle{
  font-family: serif;
}
.mytext2{
  font-size: 8px;
  font-weight:800;
}
.mytext3{
  font-size: 10px;
  align-items: center;
}



@media only screen and (min-width: 768px) {
  .img-fluid {
    max-width: 172%;
    height: 160px;
  }
}
